@import "./vars.css";

.App{
    height: 100vh;
    scroll-snap-align: center;
}
html{
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-ibm); 
    font-weight: 400;
    color: var(--color-text);
}
a{
    text-decoration: none;
}

body{
    background-color: black;
    color: white;
}