@import "../../vars.css";
.navbar{
    height: 100px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 61px;
    z-index: 2;
    margin: 0 10%;

}
.navicon{
    width: 90px;
    height: auto;
}

.menuitems{
    display: flex;
    gap: 20px;
    font-size: 24px;
    font-weight: 500;
    list-style: none;
    color: var(--color-text);
}


